
body{
   background-color: dimgray;
}
/* Header menu*/
header{
    text-align: center;
    color: aliceblue;
    
    background-color: darkviolet;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 7px;
    height: 105px;

}
header h1{
          font-size: 35px;
    font-family: cursive;
      padding: 5px 5px 10px;
      display: inline-block;
}

/* Navigation Bar*/
nav{
      font-size: 20px;
    font-family: cursive;
    height: 755px;
    background-color: grey;
    width: 23%;
    border-radius: 8px;
    padding: 1px;
    margin: 1px;
    float: left;
}
nav ul{
    margin: 2px;
    padding: 0px;
     display: block;
  
    width: 90%;
    border-radius: 2%;
    
}
nav ul li {
  text-shadow: 2px 2px 7px antiquewhite;
    text-decoration: none;
    list-style: none;
    background: black;opacity: 0.7;
    padding: 20px;
    border-radius: 7%;
    padding-block: 16px;
    margin-block: 2px 4px;
    box-shadow: 1px 2px black;
}
nav ul li a{
 text-decoration: none;
 color: wheat;
 
}
/*content of web pages*/
    .Home-content{
    font-size: 20px;
    font-family: cursive;
    height: 750PX;
    background-color: grey;
    opacity: 1;
    width: 74%;
    border-radius: 8px;
    padding: 5px;
    margin: 0% 13% 0%;
    padding-left: 15px;
    margin-left: 24%;
     }
     
.report-content{
    font-size: 20px;
    font-family: cursive;
    height: 100%;
    background-color: grey;
    opacity: 1;
    width: 74%;
    border-radius: 8px;
    padding: 5px;
    margin: 0% 13% 0%;
    padding-left: 15px;
    margin-left: 24%;
}
.report-content H1{
    font-size: 30px;
    font-family: inherit;
}
.report-content p{
    font-family: fangsong;
    font-size: 20px;
    padding-left: 4px;

}
.Home-content .P1{
    background-color: grey;
    width: 65%;
    height: 90%;
    padding: 0px;
    margin: 0px;
    border-radius: 4%;
    float: left;
    text-align: center;
}
.Home-content .P1 Img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}


.Home-content .P2{
    
    background-color:grey;
    width: 35%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 4%;
    float: right;
    text-align: center;
}


.Home-content .B1, .B3{
    border: 1px solid black;
    background-color: grey;
    width: 49%;
    height: 50%;
    padding: 0px;
    margin: 0px;
    border-radius: 4%;
    float: left;
    text-align: center;
}
.Home-content .B2, .B4{
    border: 1px solid black;
    background-color:grey;
    width: 49%;
    height: 50%;
    padding: 0px;
    margin: 0px;
    border-radius: 4%;
    float: right;
    text-align: center;
}

/*content of sitereport*/
/*.report-content{
    font-size: 20px;
    font-family: cursive;
    height: 100%;
    background-color: darkgrey;
    opacity: 1;
    width: 74%;
    border-radius: 8px;
    padding: 5px;
    margin: 0% 13% 0%;
    padding-left: 15px;
    margin-left: 24%;
}*/
.report-content p{
    font-family: monospace;
    font-size: 20px;
}
}
.topic h1{
    text-align:center ;
}
/* box of contact*/
.mail {
  width: 50%;
    height: 380px;
    margin: auto;
    margin-left: 40%;
    padding: 50px 45px 20px;
    margin-top: 3%;
    border-radius: 5%;
    background-color: lightgrey;
    font-size: 16px;
    font-family: monospace;
    padding-top: 10%;

}
.info{
    width: auto;
    height: 70px;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    text-align: center;
  

}
.validation-container{
    height: 100%;
    width: 100%;
    border: 2px solid black;
}
.validation-container img {
    height: 200px;
    width: 100%;
}
/*footer*/
footer{
    width: 100%;
    height: 10px;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;

}
footer p{
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}

@media screen and (max-width: 550px ){
    
     header{
        text-align: center;

     }
     nav{
        display: none;
     }
    
    .mail{
    margin: auto;
    padding: 5px;
    padding-top: 5px; 
    margin-top: 4%; 
     }
    .Home-content{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 755px;
     }
     .Home-content .B1, .B3{
    border: 1px solid black;
    background-color: darkseagreen;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 4%;
    
    text-align: center;
}
.Home-content .B2, .B4{
    border: 1px solid black;
    background-color: darkseagreen;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 4%;
    float: right;
    text-align: center;
}
.report-content{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
     }
     


}

